Crear Listas.

Asignamos una secuencia de valores a una variable
está debe ser separados por [corchetes]

Ejemplo

In [3]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [1]:
Animales = ['Leon' ,'Pumas' ,'Aguila', 'Conejo', 'Tiburon']
print(Animales)

['Leon', 'Pumas', 'Aguila', 'Conejo', 'Tiburon']

In [6]:
print('El planeta más enano es :' ,planets[1])
print('El planeta más enano es :' ,planets[2])
print('El planeta más enano es :' ,planets[0])

El planeta más enano es : Venus
El planeta más enano es : Earth
El planeta más enano es : Mercury

Modificar los valores de una lsita mediante un dice
Ejemplo

In [8]:
planets[3] = 'Red Planet'
print('Mars is also known as', planets[3])
print(planets)

Mars is also known as Red Planet
['Mercury', 'Venus', 'Earth', 'Red Planet', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

Determinar la longitud de una lista

Para determinar la longitud, usar la función de len().

Ejemplo

In [9]:
number_of_planets = len(planets)
print('There are', number_of_planets, 'planets in the solar system.')

There are 8 planets in the solar system.

Agregar valores a listas

Podemos agregar y eliminar elementos despues de crearlos. utilizar el método .apepend(value)

Ejemplo

In [10]:
planets.append('Pluto')
number_of_planets = len(planets)
print('There are actually', number_of_planets, 'planets in the solar system.')

There are actually 9 planets in the solar system.

Eliminar valores de una lista

Eliminar el último elemeto de una lista con el método .pop()

Ejemplo

In [11]:
planets.pop()  # Goodbye, Pluto
number_of_planets = len(planets)
print('No, there are definitely', number_of_planets, 'planets in the solar system.')

No, there are definitely 8 planets in the solar system.

Índices negativos.

In [12]:
print("The first planet is", planets[0])

The first planet is Mercury

Los índices comienzan en cero y aumentan. Los índices negativos comienzan al final de la lista y trabajan hacia atrás.

In [13]:
print('The last planet is', planets[-1])
print('The penultimate planet is', planets[-2])

The last planet is Neptune
The penultimate planet is Uranus

Buscar un valor en una lista

En qué parte de una lsita se almacena un valor, utilizar el método index()
Si no encuentra una coincidencia . devuelve -1

Ejemplo

In [14]:
print('The last planet is', planets[-1])
print('The penultimate planet is', planets[-2])

The last planet is Neptune
The penultimate planet is Uranus

Trabajar con números en listas

Almacenar números en listas

Utiliza el tipo de dato float para almacenar numeros con decimal
Ejemplo

In [15]:
gravity_on_earth = 1.0
gravity_on_the_moon = 0.166

Lista que muestra las fuerzas de cada planeta

In [16]:
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

In [17]:
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('On Mercury, a double-decker bus weighs', bus_weight * gravity_on_planets[0], 'kg')

On Earth, a double-decker bus weighs 12650 kg
On Mercury, a double-decker bus weighs 4781.7 kg

Min y Max()

Para calcuaklar el número más grandes o pequeño
usar la función max y min()

In [18]:
bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'kg')
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg')

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg

Manipular datos de lista

Trabajar con diferentes partes de una lista.
para ello usamos slicing() y sorting()

Slice list
Recuperar una parte de una lista.
tiene los indicies iniciales y finales de los elementos que deseamos recuperar.

Ejemplo

In [19]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets_before_earth = planets[0:2]
print(planets_before_earth)

['Mercury', 'Venus']

Para obtener todos los planetas después de la Tierra, comenzamos en el tercero y vamos al octavo:

In [20]:
planets_after_earth = planets[3:8]
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [21]:
planets_after_earth = planets[3:]
print(planets_after_earth)

['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

Union de listas

Para unir dos listas, utilice el operador (+) con dos listas para devolver una nueva lista.

Ejemplo

In [22]:
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

Ordenar Lsitas
ordenar lsitas utilizamos metodo sort() y las ordenara de modo alfabetico

In [23]:
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

Para ordenar una lista inversa usar el método
.sort(reverse=True)
eJEMPLO

In [24]:
regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']