Métodos string en Python

str : Existen como varibales de cadena.
title()

Ejemplo:

In [1]:
'temperatures and facts about the moon'.title()

'Temperatures And Facts About The Moon'

Una variable.

In [2]:
heading = 'temperatures and facts about the moon'
heading.title()

'Temperatures And Facts About The Moon'

Divir una cadena

Es método de cada es .split()
separa la cade en cada espacio.Esto crearía una lista de cada palabra o número que está separado por un espacio.

Ejemplo.

In [3]:
temperatures = '''Daylight: 260 F
... Nighttime: -280 F'''
temperatures .split()

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

In [4]:
temperatures .split('\n')

['Daylight: 260 F', 'Nighttime: -280 F']

Buscar una cadena

usar el método .find()

In [28]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""

In [7]:
temperatures.find('Moon')

-1

In [8]:
temperatures.find('Mars')

64

Comprobar el contenido

In [9]:
temperatures = 'Mars Average Temperature: -60 C'

In [10]:
parts = temperatures.split(':')
parts

['Mars Average Temperature', ' -60 C']

In [11]:
parts[-1]

' -60 C'

In [12]:
>>> mars_temperature = 'The highest temperature on Mars is about 30 C'

In [13]:
for item in mars_temperature.split():
    if item.isnumeric():
        print(item)

30

isnumeric()

isdecimal()

In [14]:
'-60'.startswith('-')

True

In [15]:
if "30 C".endswith("C"):
    print("This temperature is in Celsius")

This temperature is in Celsius

Transformar texto

 utilizar el método .replace() para buscar y reemplazar apariciones de un carácter o grupo de caracteres:

In [21]:
'Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 Celsius.'.replace('Celsius', 'C')

'Saturn has a daytime temperature of -170 degrees C, while Mars has -28 C.'

.lower()

In [22]:
text = 'Temperatures on the Moon can vary wildly.'
'temperatures' in text

False

In [23]:
'temperatures' in text.lower()

True

.split()
.join()

In [24]:
moon_facts = ['The Moon is drifting away from the Earth.', 'On average, the Moon is moving about 4cm every year']
'\n'.join(moon_facts)

'The Moon is drifting away from the Earth.\nOn average, the Moon is moving about 4cm every year'

Formato de cadenas en Python.

Formato (%)

El marcador de posición es %s, y la variable se pasa al texto después del carácter % fuera de la cadena. A continuación te explico cómo dar formato mediante el uso del carácter%:

In [25]:
mass_percentage = '1/6'
print('On the Moon, you would weigh about %s of your weight on Earth' % mass_percentage)

On the Moon, you would weigh about 1/6 of your weight on Earth

In [26]:
print("""Both sides of the %s get the same amount of sunlight,
    but only one side is seen from %s because
    the %s rotates around its own axis when it orbits %s.""" % ('Moon', 'Earth', 'Moon', 'Earth'))

Both sides of the Moon get the same amount of sunlight,
    but only one side is seen from Earth because
    the Moon rotates around its own axis when it orbits Earth.

Metodo format

.format()utiliza llaves ({}) como marcadores de posición dentro de una cadena y utiliza la asignación de variables para reemplazar el texto.

In [27]:
mass_percentage = '1/6'
print('On the Moon, you would weigh about {} of your weight on Earth'.format(mass_percentage))

On the Moon, you would weigh about 1/6 of your weight on Earth